body{
  background: rgb(205,191,227);
}
.well{
  background: rgb(51,51,51);
  max-width: 340px;
  min-width: 340px;
  max-height: 520px;
  min-height: 520px;
  margin: auto;
  margin-top: 50px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);
}
button{
  height: 75px;
  width: 75px;
  font-family: 'Roboto';
  font-size: 20px;
}
#equals{
  background: rgb(27,149,224);
  color: white;
}
.function{
  color: rgb(27,149,224);
}
.number{
  font-family: 'Lobster';
}
#display{
  background: rgb(156,164,141);
  padding-right: 10px;
  height: 60px;
  margin-bottom: 10px;
  font-size: 45px;
  color: black;
 white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 white-space: pre-wrap;       /* css-3 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
 word-break: break-all;
 white-space: normal;
}
h3{
  font-family: 'Lobster';
  color: white;
  margin-top: 0px;
}

